body {
    margin: 0;
    font-family: "Segoe UI", sans-serif;
    background: #fdfaf5;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

main {
    max-width: 650px;
    margin: 50px auto;
    background: white;
    padding: 40px;
    border-radius: 20px;
    box-shadow: 0 20px 40px rgba(0,0,0,0.1);
    flex: 1;
}


header {
    background: #630d16;
    color: white;
    padding: 20px;
    text-align: center;
}

nav a {
    color: #f7e08b;
    margin: 0 10px;
    text-decoration: none;
}

.products {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* 2 columns */
    gap: 30px;
    padding: 40px;
    max-width: 900px;
    margin: auto;
}

.product {
    background: white;
    border-radius: 12px;
    padding: 15px;
    text-align: center;
    height: 340px;                 /* SAME HEIGHT FOR ALL */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


.product-image {
    width: 100%;
    height: 180px;                 /* SAME IMAGE HEIGHT */
    display: flex;
    align-items: center;
    justify-content: center;
    background: #f5f5f5;
    border-radius: 8px;
    overflow: hidden;
}

.product-image img {
    width: auto;
    height: 160px;                 /* IMAGE FITS BOX */
    object-fit: contain;
}


.product h3 {
    font-size: 16px;
    margin: 10px 0 5px;
}

.product p {
    font-weight: bold;
    color: #630d16;
    margin-bottom: 10px;
}


button {
    background: #630d16;
    color: white;
    border: none;
    padding: 10px 20px;
    margin-top: 10px;
    cursor: pointer;
}

.checkout {
    padding: 40px;
    max-width: 600px;
    margin: auto;
}

.payment-box button {
    display: block;
    width: 100%;
    margin: 10px 0;
}

footer {
    width: 100%;
}

